.btn {
  display: flex;
  justify-content: center;
  margin: 2% auto;
  gap: 20px;
}

.custom-btn {
  background-image: linear-gradient(to right, #9845e8 0%, #33d2ff 50%, #dd5789 100%);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  gap: 10px;
  
  &:hover {
  color: #fff;

   }
 }
